*{
    box-sizing: border-box; 
    border: none; 
    margin: 0;
  }
  body{
      margin: 0;
      background-color: #898989;
  }
  .topo{
      margin: 0;
      background-color: #4f4f4f;
      padding: 2%;
      
  }
  .titulo{
      text-align: center;
      color: white;
  }
  .links{
    text-align: right;
    float: right;
  }
  .perfil{
    display: flexbox;
    margin-left: 10%;
    
  }
  
  