*{
    box-sizing: border-box; 
    border: none; 
    margin: 0;
  }
  body{
      margin: 0;
      background-color: #898989;
  }
  .topo{
      margin: 0;
      background-color: #4f4f4f;
      padding: 1%;
      
  }
  
  .links{
    text-align: right;
    float: right;
  }
  .perfil{
    display: flexbox;
    margin-left: 5%;
    padding: 9%;
    
  }
  .sobremim{
    display: flexbox;
    float: right;
    width: 45%;
    margin-top: 10%;
  }
  .headerBox{
    width: 100%;
    height: 90%;
    padding: 1%;
    border-radius: 10px;
    background-color: #595959;
  }
  
  