.main_box{
    display: flexbox;
    background-color: #8e8e92;
    width: 98%;
    height: 1500px;
    margin-top: 9%;
    box-shadow: 10px 15px 20px rgb(87, 85, 85);
    margin-left: 1%;
    border-radius: 10px;   
    padding: 10px;
}
.titulos{
    font-size: 36px;
    font-family:Times New Roman, Times, 'serif';
    text-align: center;
    margin-top: 35px;
    padding: 30px;

}
.perfil_2{
    width: 300px;
    display: flexbox;
    margin-left: 80px;
    margin-top: 10px;
    padding: 25px;
}
.sobre{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-right: 180px;
    width: 500px;
    float: right; 
}
.projetos{
    width: 100%;
    height: 300px;
}
.left_list{
    display: flexbox;
    float: left;
    width: 700px;
}
.right_list{
    display: flexbox;
    float: right;
    width: 700px;
}