.menu{
    background-color: #363636;
    padding: 8px;
}
.menu a{
    display: inline-flexbox;
    position: relative;
    color: white;
    padding: 10px 5px;
    text-decoration-line: none;
}
.picture{
    width: 100px;
    padding: 10px;
    text-align: center;
}
.tecs{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.boxes{
    height: 10%;
    width: 18.8%;
    display: flexbox;
    float:left;
    box-shadow: 10px 15px 20px rgb(87, 85, 85);
    border-radius: 10px;
    background-color: #8e8e92;
    border: none;
    margin-top: 1%;
    margin-left: 1%;
    padding: 20px;
    text-align: center;
    justify-content: center;
}
